*{
    margin:0;
}

.copertina{
    height: 175px;
    background-image: url(./img/pattern.png);
    background-color: #4ea0ff;
    background-position-x: 135px;    
}

#logo{
    height: 5rem;
    padding-left: 30px;
    padding-top: 75px;
    }

.title{
    font-size: 3rem;
    padding-left: 1rem;
}

.autore{
    padding-left: 1rem;
    color: lightslategray;
}

.writer{
    font-size: 34px;
}

.date{
    font-size: 22px;
}

a{
    text-decoration: none;
    color: #52bcea;
}

img{
    height: 650px;
    padding-left: 1rem;
    padding-top: 2rem;
}

.caption{
    padding-left: 1rem;
    font-size: 20px;
}

p{
    font-size: 24px;
    padding-left: 1rem;
    padding-top: 2rem;
}

ul{
    padding-top: 2rem;
    font-size: 24px;
}

table{
    font-size: 24px;
    text-align: justify;
    padding-left: 1rem;
    padding-top: 2rem;
}

thead{
    background-color: #20a9e5;
    color: white;
}

#bluebg{
    background-color: #b1e5f2;
}

#half{   
    width: 50%;
}
